:root{
    --mainColor: rgb(56, 183, 166);
    --bgColor: #000;
    --txtColor : #fff;
    --secColor: #1A535C;
    --darkColor: #343E3D;
}
body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote{
    margin:0;
    padding:0;
}
html {
    scroll-behavior: smooth;
  }

img{
    width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}

ul, ol{
    list-style: none;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
}
[style*="--aspect-ratio"] > img {  
    height: auto;
}


@supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
}

/*  flex containers */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex.col{
    flex-direction: column;
}


/*  general */

.img-center{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

body.lock-scroll{
    overflow: hidden;
}

.scrollbar-hide{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/*  styles */

body{
    background-color: var(--bgColor);
    color: var(--txtColor);
    font-family: 'Ubuntu', sans-serif;
}

.container.hide{
    display: none;
}

/*  header */

header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

header .logo{
    width: 90%;
    max-width: 750px;
    opacity: 0;
    transition: opacity 2s ease-in;
}

header .logo.show{
    opacity: 1;
}

/*  social */

.social ul{
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.social li{
    font-size: 2.5rem;
    margin-right: 2rem;
    position: relative;
    top: -5rem;
    transition: all 0.2s;
}
.social li.show{
    top: 0;
}
.social li.show:hover{
    top: -4px;
    color: gold;
}
.social li:last-of-type{
    margin-right: 0;
}

/* play-btn */

.play-btn{
    font-size: 4rem;
    margin-top: 4rem;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
}

.play-btn.show{
    opacity: 1;
    animation: scaleBtn;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
.play-btn:hover{
    color: #ffd700;
    
}

@keyframes scaleBtn {
    0% {transform: scale(1);}
    15% {transform: scale(0.8);}
    50% {transform: scale(1.2);}
    85% {transform: scale(0.8);}
    100% {transform: scale(1);}
  }

/*  image gallery */

.img-grid{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 35% 20% 20% 15% 1fr;
    grid-template-rows: 25vh 15vh 25vh 10vh 1fr;
    position: relative;
    overflow: hidden;
}

.img-grid > .left-img{
    grid-column: 1/3;
    grid-row: 1/-1;
}
.img-grid > .left-top-img{
    grid-column: 2/4;
    grid-row: 1/4;
}
.img-grid > .center-img{
    grid-column: 1/4;
    grid-row: 3/-1;
}
.img-grid > .right-img{
    grid-column: 4/-1;
    grid-row: 2/-1;
}
.img-grid > .right-top-img{
    grid-column: 4/-1;
    grid-row: 1/3;
}
.img-grid > .right-btm-img{
    grid-column: 3/5;
    grid-row: 1/-2;
}

.img-grid .grid-cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--bgColor);
    mix-blend-mode: color;
}

.img-item{
    opacity: 0;
    z-index: 1;
    transition: opacity 0.7s ease-out;
    /*transition: transform 3s ease-out;*/
}

.img-item.sepia{
    filter: sepia(1);
}

.img-item.grey{
    filter: grayscale(1);
}

.img-item.show{
    opacity: 1;
    z-index: 100;    
}

/* effect classes */

.move{
    transform: translateX(200px);
}

.large{
    transform: scale(1.5);
}

/*  transition panel */

.transition-panel{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -200%;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
}

.transition-panel.show{
    left: 0;
}

.transition-panel .logo{
    width: 500px;
}

/*  playlist container */
.playlist-container{
    display: none;
}
.playlist-container.active{
    display: block;
}

.playlist-container .header{
    position: relative;
}

.playlist-container .header h3{
    color: #000;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    background: #fff;
    letter-spacing: -3.56px;
    width: 350px;
    padding: 1rem;
    line-height: 30px;
    margin-bottom: 1rem;
    position: absolute;
    left:3rem;
    top: 2rem;
}

.playlist-container .header .logo{
    width: 400px;
    padding-top: 1rem;
    margin: 0 auto;
}

.playlist-container .header .return{
    border:3px solid #fff;
    font-size: 24px;
    padding: 0.5rem 1rem;
    position: absolute;
    right: 2rem;
    top: 3rem;
    cursor: pointer;
}

.playlist-container .header .return:after{
    content: "";
    width: 0;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    transition: all 0.3s;
}
.playlist-container .header .return:hover:after{
    width: 100%;
}

.playlist-main{
    padding: 0 3rem;
}


.playlist-main ul.playlist{
    /*
    width: 60%;
    max-width: 1000px;
    */
    position: relative;
}
.playlist-main ul.playlist li{
    font-size: 20px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.playlist-main ul.playlist li:hover{
    color: #a1a1a1;
}
.playlist-main ul.playlist li.active{
    color: gold;
}

.playlist-main ul.playlist li .info{
    width: 60%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.playlist-main ul.playlist li .play-icon{
    font-size: 40px;
    margin-left: 10px;
}

.playlist-main ul.playlist li .info h2{
    font-weight: 300;
}
.playlist-main ul.playlist li .cover-img-wrapper{
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    display: none;
    z-index: -1;
}


.playlist-main ul.playlist li:hover .cover-img-wrapper{
    display: block;
}
.playlist-main ul.playlist li:hover .cover-img{
    width: 100%;
}


/*  video */

.video-container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    max-height: 0;
    transition: all 1s;
    position: relative;
}

.video-container.active{
    max-height: 1000px;    
}

.video-container > .close{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -3rem;
    right: 0;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: all 0.5s;
}

.video-container.active > .close{
    display: block;
    opacity: 1;
}

/*  playlist footer */

.footer{
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 50px;
    color: #fff;
}
.footer .logo{
    width: 200px
}

.footer .social li{
    top: 0;
}
.footer .social li:hover{
    color: gold;
}

.footer .developer{
    width: 100%;
    text-align: right;
    font-size: 12px;
    font-weight: 300;
}

/*  close */

.close span.close-line{
    width: 100%;
    display: block;
    height: 3px;
    background-color: #fff;
    left: 0;
    top: 50%;
    transform-origin: center;
    position: absolute;
    border-radius: 5px;
}
.close span.close-line:first-of-type{
    transform: rotate(45deg);
}
.close span.close-line:last-of-type{
    transform: rotate(-45deg);
}

@media screen and (max-width: 1380px) {
    .playlist-container .header h3{
        width: 280px;
    }
    .playlist-main ul.playlist li .info {
      width: 50%;
    }
    .playlist-main ul.playlist li .cover-img-wrapper {
        width : 45%;
    }
  }

  
@media screen and (max-width: 1120px) {
    .playlist-container .header{
        margin-bottom: 110px;
    }
    .playlist-container .header h3{
        width: 380px;
        top: 10rem
    }
}



@media screen and (max-width: 980px) {
    .playlist-main ul.playlist li .info {
        width: 100%;
      }
      .playlist-main ul.playlist li .cover-img-wrapper {
          display: none;
      }
      .playlist-main ul.playlist li:hover .cover-img-wrapper{
        display: none;
    }    
}

@media screen and (max-width: 780px) {
    .playlist-container .header .logo{
        margin:0 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .playlist-container .header .logo{
        width: 300px;
        margin-left: 25px;
    }
    .playlist-container .header h3{
        top: 8rem;
        left: 25px;
    }
    .playlist-main{
        padding: 0 25px;
    }
    .playlist-main ul.playlist li{
        font-size: 16px;
    }
    .footer{
        flex-direction: column;
        padding:1rem 25px;
    }
    .footer .logo{
        margin-bottom: 15px;
    }
    .footer .developer{
        text-align: center;
        margin-top: 15px;
    }
}

@media screen and (max-width: 580px) {
    .playlist-container .header .logo{
        width: 250px;
    }
    .playlist-container .header .return{
        top: 2rem;
        right: 25px;
        font-size: 16px;
    }
}
@media screen and (max-width: 480px) {
    .playlist-container .header h3{
        width: 100%;
        left: 0;
        font-size:36px;
    }
    .footer .social li{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 430px) {
    .playlist-container .header .logo{
        margin: 0 auto;
    }
    .playlist-container .header h3{
        top: 10rem;
    }
    .playlist-container .header .return{
        top: 6rem;
    }
}